* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --body: #b1e1e9;
    --head: #c7ede8 ;
}

body {
    background: white;
}

.logo {
    margin: 20px;
    color: #304878;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--head);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 0 auto;
    padding: 15px;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}

.menu li {
    background: #304878;
    transition: 0.3s;
}

.menu a {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 8px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu li:hover {
  color: #00c3ff;
  box-shadow: 0 5px 15px;
}





